[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest
[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv
